<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="'CONFIGURATION'">
    <configuration
      [configuration]="currentConfiguration"
      (onConfigurationSend)="onConfigurationCompleted($event)" />
  </ng-container>
  <ng-container *ngSwitchCase="'TIMER_RUNNING'">
    <bomb-timer
      [bombTimerConfiguration]="currentConfiguration"
      [endDate]="endDate"
      (countdownCanceled)="onCountdownCanceled()"
      (countdownCompleted)="onCountdownCompleted()">
    </bomb-timer>
  </ng-container>
  <ng-container *ngSwitchCase="'TIMER_EXPIRED'">
    <timer-expired
      [bombTimerConfiguration]="currentConfiguration"
      (onStartNewTimer)="onMoveToConfiguration()" />
  </ng-container>
</ng-container>
